<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Подключите стили bootstrap в шаблон -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Редакции</title>
</head>

<body>
    
    <div class="container">
        <h1 class="display-4 py-4">Список редакций и их книг</h1>
        
        <!-- Обходим все редакции -->
        {% for edition in editions %}
        <ul>
            <!-- Выводим счетчик и название редакции -->
            {{ forloop.counter }}. Книги редакции: {{ edition }}
            
            <!-- С помощью _set.all получаем все книги редакции -->
            {% for book in edition.book_set.all %}
            
            <!-- Добавляем какой-нибудь стиль в теги списка -->
            <li class="bg-success">{{ book}}</li>
            {% endfor %}

        </ul>
        {% endfor %}
    </div>

</body>

</html>