{% extends 'base.html' %}

{% block extra_title %}
<title>Редакции</title>
{% endblock %}

{% block extra_body %}
    
    <div class="container">
        
        <h1 class="display-4 py-4">Список редакций и их книг</h1>
        {% load static %}
        <p>цвет body взят из подключенного статик-файла <a href="{% static '/style/style.css' %}" target="_blank">{% static '/style/style.css' %}</a> </p>
        <!-- Обходим все редакции -->
        {% for edition in editions %}
        <ul>
            <!-- Выводим счетчик и название редакции -->
            {{ forloop.counter }}. Книги редакции: {{ edition }}
            
            <!-- С помощью _set.all получаем все книги редакции -->
            {% for book in edition.book_set.all %}
            
            <!-- Добавляем какой-нибудь стиль в теги списка -->
            <li class="bg-success"><img src="{{ book.get_logo_url }}" alt="" style="width: 100px; height: 100px;" class="m-3"><a href="{{ book.get_update_url }}"> {{ book }} </a></li>

            {% endfor %}

        </ul>
        {% endfor %}
    </div>

    {% endblock %}